<ion-content class="ion-no-padding" content="light dark">
    <div class="setting-inner-content">
      <div class="toolbar">
        <ion-buttons (click)="goBack()">
          <ion-icon mode="ios-person" class="back-icon" slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <ion-row>
          <ion-col>
            <div class="title">
              <ion-icon mode="ios" class="back-icon2" slot="icon-only" src="../../../assets/icon/coupon-icon-light.svg"></ion-icon>
              已領取的優惠券
            </div>
          </ion-col>
        </ion-row>
      </div>
    
      <ion-grid class="ion-padding-horizontal">
        <div class="paragraph">
          <ion-row>
            <ion-col size="2" class="shop-logo">
                <ion-icon style="width: 42px; height: 42px; padding-right: 0.5rem;" mode="ios" src="../../../assets/icon/ipygg-icon-2.svg"></ion-icon>
            </ion-col>
            <ion-col size="4" class="shop-title">
                
                <ion-text style="font-size:14px;">iPYGG Shop</ion-text>
                <div>
                  <ion-text style="font-size:16px;">優惠券名稱</ion-text>
                </div>
                
            </ion-col>


            <ion-col class="coupon-details">
                <ion-col size="3">
                <ion-text style="font-size:16px; font-weight: bold;">8折</ion-text>
                </ion-col>
                <ion-col size="9">
                    <ion-text style="font-size:14px; line-height: 20px;">購買任何貨物</ion-text>
                    <br>
                    <ion-text style="font-size:14px; line-height: 15px;">滿$200使用</ion-text>
                </ion-col>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col style="text-align:right;">
              <ion-text style="font-size:14px;">到期日﹕01/09/2022</ion-text>
            </ion-col>
          </ion-row>

          <ion-row style="margin-top:10px;">
            <ion-col class="usage-button">
              <ion-button>
                <ion-text>
                  待使用
                </ion-text> 
              </ion-button>
            </ion-col>
          </ion-row>
        </div>

        <div class="paragraph">
            <ion-row>

              <ion-col size="2" class="shop-logo">
                  <ion-icon style="width: 42px; height: 42px; padding-right: 0.5rem;" mode="ios" src="../../../assets/icon/ipygg-icon-2.svg"></ion-icon>
              </ion-col>
              <ion-col size="4" class="shop-title">
                  
                  <ion-text style="font-size:14px;">iPYGG Shop</ion-text>
                  <div>
                    <ion-text style="font-size:16px;">優惠券名稱</ion-text>
                  </div>
                  
              </ion-col>

              <ion-col class="coupon-details">
                  <ion-col size="3">
                  <ion-text style="font-size:16px; font-weight: bold;">$20</ion-text>
                  </ion-col>
                  <ion-col size="9">
                      <ion-text style="font-size:14px; line-height: 20px;">購買任何貨物</ion-text>
                      <br>
                      <ion-text style="font-size:14px; line-height: 15px;">滿$100使用</ion-text>
                  </ion-col>
                </ion-col>  
            </ion-row>
            
            <ion-row>
              <ion-col style="text-align:right;">
                <ion-text style="font-size:14px;">到期日﹕01/07/2022</ion-text>
              </ion-col>
            </ion-row>

            <ion-row>
                <ion-col style="text-align:right; margin-top: -10px;">
                  <ion-text style="font-size:14px; color:#AF3F3F;">已過期</ion-text>
                </ion-col>
              </ion-row>
  
            <ion-row style="margin-top:10px;">
              <ion-col class="usage-button">
                <ion-button>
                  <ion-text>
                    已使用
                  </ion-text> 
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
      </ion-grid>
    </div>
  
  
  </ion-content>