<ion-content class="ion-no-padding" content="light dark">
  <div class="setting-inner-content">
    <div class="toolbar">
      <ion-buttons (click)="goBack()">
        <ion-icon mode="ios-person" class="back-icon" slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-row>
        <ion-col>
          <div class="title">
            關注商店
          </div>
        </ion-col>
      </ion-row>
    </div>

    <ion-grid class="ion-padding-horizontal">
      <div class="shop-list">
        <div class="shop-item">
          <div class="shop-logo">
            <!--            <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/shopping-cart-icon.svg"></ion-icon>-->
          </div>
          <div class="shop-title">
            <span>iPYGG</span>
            <div>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_filled.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_filled.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_filled.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_blank.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_blank.svg"></ion-icon>
            </div>
          </div>
          <div class="shop-button">關注中</div>
        </div>
        <div class="shop-item">
          <div class="shop-logo">
            <!--            <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/shopping-cart-icon.svg"></ion-icon>-->
          </div>
          <div class="shop-title">
            <span>iPYGG</span>
            <div>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_filled.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_filled.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_filled.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_blank.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_blank.svg"></ion-icon>
            </div>
          </div>
          <div class="shop-button">關注中</div>
        </div>
        <div class="shop-item">
          <div class="shop-logo">
            <!--            <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/shopping-cart-icon.svg"></ion-icon>-->
          </div>
          <div class="shop-title">
            <span>iPYGG</span>
            <div>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_filled.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_filled.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_filled.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_blank.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_blank.svg"></ion-icon>
            </div>
          </div>
          <div class="shop-button">關注中</div>
        </div>
        <div class="shop-item">
          <div class="shop-logo">
            <!--            <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/shopping-cart-icon.svg"></ion-icon>-->
          </div>
          <div class="shop-title">
            <span>iPYGG</span>
            <div>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_filled.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_filled.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_filled.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_blank.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_blank.svg"></ion-icon>
            </div>
          </div>
          <div class="shop-button">關注中</div>
        </div>
        <div class="shop-item">
          <div class="shop-logo">
            <!--            <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/shopping-cart-icon.svg"></ion-icon>-->
          </div>
          <div class="shop-title">
            <span>iPYGG</span>
            <div>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_filled.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_filled.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_filled.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_blank.svg"></ion-icon>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/star_blank.svg"></ion-icon>
            </div>
          </div>
          <div class="shop-button">關注中</div>
        </div>
      </div>
    </ion-grid>
  </div>


</ion-content>
