<ion-content class="ion-no-padding" content="light dark">
  <div class="setting-inner-content">
    <div mode="ios" class="toolbar">
      <ion-row>
        <ion-col>
          <ion-icon style="width: 20px; height: 30px; padding-left: 1rem;" mode="ios" src="../../../../../../assets/icon/back-icon.svg" (click)="goBack()"></ion-icon>
        </ion-col>
        <ion-col style="padding: 1rem 0rem 0rem 1.5rem;">
          <ion-text class="title">iPYGG</ion-text>
        </ion-col>
        <ion-col>
          <ion-icon class="forum-icon" mode="ios" src="../../../../../../assets/icon/ipygg-icon-2.svg" (click)="openNotification()"></ion-icon>
        </ion-col>
      </ion-row>
    </div>

    <ion-grid class="ion-padding">
      <ion-row >
        <ion-label class="page-label">送貨與退貨安排</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="page-content">這是送貨與退貨安排</ion-label>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>
