<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="7">
        <ion-text style="float:right" class="ion-text-1">排序</ion-text>
      </ion-col>
      <ion-col>
        <ion-icon style="float:right; width: 22px; height: 22px" mode="ios" src="../../../assets/icon/close-icon.svg" (click)="close()"></ion-icon>
      </ion-col>
    </ion-row>
  
    <hr style="border-top: 1px solid rgba(73, 170, 232, 0.5); margin-top: 2rem">

    <ion-row>
      <ion-col style="display: flex; justify-content: center;">
        <ion-text class="ion-text-2">價錢（高至低) </ion-text>
      </ion-col>
    </ion-row>

    <hr style="border-top: 1px solid rgba(73, 170, 232, 0.5);">

    <ion-row>
      <ion-col style="display: flex; justify-content: center;">
        <ion-text class="ion-text-2">價錢（低至高）</ion-text>
      </ion-col>
    </ion-row>

    <hr style="border-top: 1px solid rgba(73, 170, 232, 0.5);">

    <ion-row>
      <ion-col style="display: flex; justify-content: center;">
        <ion-text class="ion-text-2">名稱（a-z）</ion-text>
      </ion-col>
    </ion-row>

    <hr style="border-top: 1px solid rgba(73, 170, 232, 0.5);">

    <ion-row>
      <ion-col style="display: flex; justify-content: center;">
        <ion-text class="ion-text-2">評分</ion-text>
      </ion-col>
    </ion-row>

    <hr style="border-top: 1px solid rgba(73, 170, 232, 0.5);">

    <ion-row>
      <ion-col style="display: flex; justify-content: center;">
        <ion-text class="ion-text-2">全新</ion-text>
      </ion-col>
    </ion-row>

    <hr style="border-top: 1px solid rgba(73, 170, 232, 0.5); margin-bottom: 2rem">

    <ion-row>
      <ion-col style="display: flex; justify-content: center;">
        <ion-button mode="ios" class="submit-button" (click)="close()">
          <ion-text class="ion-text-3">確認</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>
