<ion-content class="ion-no-padding" content="light dark">
  <div class="setting-inner-content">
    <div class="toolbar">
      <ion-buttons (click)="goBack()">
        <ion-icon mode="ios-person" class="back-icon" slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-row>
        <ion-col>
          <div class="title">
            <ion-icon mode="ios" class="back-icon2" slot="icon-only" src="../../../assets/icon/myfavorite.svg"></ion-icon>
            收藏
          </div>
        </ion-col>
      </ion-row>
    </div>

    <ion-grid class="ion-padding-horizontal">
      <ion-row >
        <ion-col>
          <div class="product-item">
            <div class="product-image">
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/shopping-cart-icon.svg"></ion-icon>
            </div>
            <div class="product-info">
              <div>
                <span>產品名稱</span>
                <span>$ 1oo</span>
              </div>
              <div>
                <span>第一類別 / 第二類別</span>
                <span>$ 2oo</span>
              </div>
              <div>
                <div>
                  <span>標籤 1</span>
                  <span>標籤 2</span>
                </div>
                <ion-icon mode="ios-create" class="back-icon" slot="icon-only" src="../../../assets/icon/favorited.svg"></ion-icon>
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div class="product-item">
            <div class="product-image">
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/shopping-cart-icon.svg"></ion-icon>
            </div>
            <div class="product-info">
              <div>
                <span>產品名稱</span>
                <span>$ 1oo</span>
              </div>
              <div>
                <span>第一類別 / 第二類別</span>
                <span>$ 2oo</span>
              </div>
              <div>
                <div>
                  <span>標籤 1</span>
                  <span>標籤 2</span>
                </div>
                <ion-icon mode="ios-create" class="back-icon" slot="icon-only" src="../../../assets/icon/favorited.svg"></ion-icon>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <div class="product-item">
            <div class="product-image">
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/shopping-cart-icon.svg"></ion-icon>
            </div>
            <div class="product-info">
              <div>
                <span>產品名稱</span>
                <span>$ 1oo</span>
              </div>
              <div>
                <span>第一類別 / 第二類別</span>
                <span>$ 2oo</span>
              </div>
              <div>
                <div>
                  <span>標籤 1</span>
                  <span>標籤 2</span>
                </div>
                <ion-icon mode="ios-create" class="back-icon" slot="icon-only" src="../../../assets/icon/favorited.svg"></ion-icon>
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div class="product-item">
            <div class="product-image">
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../../assets/icon/shopping-cart-icon.svg"></ion-icon>
            </div>
            <div class="product-info">
              <div>
                <span>產品名稱</span>
                <span>$ 1oo</span>
              </div>
              <div>
                <span>第一類別 / 第二類別</span>
                <span>$ 2oo</span>
              </div>
              <div>
                <div>
                  <span>標籤 1</span>
                  <span>標籤 2</span>
                </div>
                <ion-icon mode="ios-create" class="back-icon" slot="icon-only" src="../../../assets/icon/favorited.svg"></ion-icon>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>
