<ion-content>
  <div class="setting-inner-content">
    <div class="toolbar">
      <ion-buttons (click)="goBack()">
        <ion-icon mode="ios-person" class="back-icon" slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-row>
        <ion-col>
          <div class="title">
            <ion-icon mode="ios" class="back-icon2" slot="icon-only" src="../../../assets/icon/privacy-icon.svg"></ion-icon>
            隱私政策
          </div>
        </ion-col>
      </ion-row>
    </div>
    <ion-grid class="ion-padding-horizontal">
      <ion-row>
        <ion-col>
          <p>
            {{"透過網站出售瀕危物種，例如陸龜、鸚鵡、鬣蜥、蟒蛇、珊瑚、硨磲（或稱作巨蚌）等。請注意，無論透過網站或以任何其他方式進行瀕危物種貿易，而沒有事先領有由漁農自然護理署發出的管有許可證，或未能提供文件證明有關活生物種為人工繁殖，可能已觸犯法例。根據香港法例第586章《保護瀕危動植物物種條例》，除指定獲豁免的情況外，任何人士管有法例列明的瀕危物種，必須事先向本署申領許可證。違例者一經定罪，最高可被判罰款港幣壹千萬元及監禁十年。有關瀕危物種的管制及申領許可証的程序，請致電1823，或瀏覽漁農自然護理署  網頁www.cites.hk。"}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="page-title">
          <p>
            {{"關於「魚網」平台"}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>
            {{"「魚網」平台(下稱為「我們」，「魚網」或「本平台」)是香港的生物與水族產品買賣資訊展示平台，由魚網有限公司管理並提供服務。<魚網>平台為用戶提供全新的觀賞類生物與水族產品價格資訊。"}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="page-title">
          <p>
            {{"同意接受條款"}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>
            {{"2. 「魚網」按照條款規定，為用戶提供服務。我們會不時修訂條款而無需特意通知用戶。修訂的服務條款將於公開張貼當日起即時生效，並取代舊有的條款。"}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="page-title">
          <p>
            {{"免責聲明："}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>
            {{"3. 用戶需了解並同意，「魚網」平台不提供任何直接的銷售服務，所有買賣以及銷售服務均由用戶，銷售經紀或入駐平台的商家提供。「魚網」僅為買賣雙方之間的中間人，且「魚網」不是擔任買賣過程中任何一方的代理人。"}}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>