ion-content{
    font-family: 'Yuanti TC';
    font-style: normal;
    .ion-text-1{
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #000000;
    }

    .required-form-title{
        margin:0.5rem 0;
        font-weight: 400;
      }
    .input-form-item{
    --border-width: 0;
    --inner-border-width: 0px;
    --background: #F4FBFF;
    --background-activated: #F4FBFF;
    --background-focused: #F4FBFF;
    --background-hover: #F4FBFF;
    --border-radius: 0.5rem;
    text-align: center;
    color: black;
    border-radius: 0.5em;
    border: 1px solid #49AAE8;
    width: 100%;
    }
    .form-select{
    max-width: 100%;
    width: 100%;
    text-align: center;
    }
    .label-button{
        --background: #F4FBFF;
        --background-activated: #49AAE8;
        --background-focused: #49AAE8;
        width: 100%;
        height: 2.9375rem;
        border: 1px solid #49AAE8;
        border-radius: 10px;
        color:#000000;
    }
    .label-button.active{
        --background: #49AAE8;
        --background-activated: #49AAE8;
        --background-focused: #49AAE8;
        width: 100%;
        height: 2.9375rem;
        border-radius: 10px;
        color:#FFFFFF;
    }
    .submit-button{
        display: flex;
        justify-content: center;
        ion-button{
            --background: #49AAE8;
            --background-activated: #49AAE8;
            --background-focused: #49AAE8;
            --background-hover: #49AAE8;
            --color: white;
            overflow-y:visible;
            font-weight: 700;
            width: 6.5rem;
            height: 2rem;
            border-radius: 0.5rem;
        }
        margin: 1rem 0;
    }
}