<ion-content class="ion-no-padding">
  <div class="setting-inner-content">
    <ion-grid>

      <div style="top: 50%; transform: translate(0, 90%);">
        <ion-row>
          <ion-col>
            <div class="check">
              <ion-img class="check-image"  src="../../../../assets/shop-register/eclipse-no-tick.svg"></ion-img>
              <ion-img class="check-image-tick" src="../../../../assets/shop-register/tick.svg"></ion-img>
            </div>
          </ion-col>
        </ion-row>
  
        <ion-row class="ion-padding-horizontal">
          <ion-col>
            <ion-text style="font-weight: 550; font-size: 16px; line-height: 22px">你的申請已完成, 審核完成後將會收到APP通知</ion-text>
          </ion-col>
        </ion-row>
      </div>

      <ion-row>
        <ion-col class="next-button">
          <ion-button mode="ios" (click)="nextPage()">
            <ion-text style="font-weight: 700; font-size: 16.5px; margin: 3px 0px 1px 0px;">返回主頁</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>