ion-content{
    --background: #F4FBFF;
    --font-family: 'Yuanti TC';
    --font-style: normal;
    --color: #000000;
    .check{
        display: flex; 
        flex-direction:column; 
        align-items: center;
    }
    .check-image{
        width: 8.5rem; 
        height: 8.5rem;
    }
    .check-image-tick{
        width: 3.7rem; 
        height: 2.9rem; 
        position: absolute; 
        top:50%; 
        left:50%; 
        transform: translate(-50%, -50%);
    }

    .next-button{
        display: flex;
        justify-content: center;
        ion-button{
            --background: #49AAE8;
            --background-activated: #49AAE8;
            --background-focused: #49AAE8;
            --background-hover: #49AAE8;
            --color: white;
            overflow-y:visible;
            font-weight: 700;
            width: 6.5rem;
            height: 2rem;
            border-radius: 0.5rem;
        }
        margin: 1rem 0;
        position: absolute;
        bottom: 0%;
      }
}