<ion-content class="ion-no-padding">
    <div class="header">
      <ion-toolbar color="#ffff">
        <ion-title style="text-align: center">編輯影片縮圖</ion-title>
        <ion-buttons slot="end">
          <ion-icon mode="ios" class="back-icon" slot="icon-only" name="close-outline" (click)="close()"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </div>
    <ion-grid  class="ion-padding-horizontal">
      <form class="form" >
        <ion-row class="photo">
            <ion-col>
            <ion-img src="../../../../assets/SELLER/item/fish.png" style="height:350px;"></ion-img>
            </ion-col>
        </ion-row>

        <ion-row style="margin-top:20px;">
            <ion-col style="text-align: center">
              <ion-text>從影片中選擇一個畫面作為縮圖</ion-text>
            </ion-col>
        </ion-row>

          <ion-row>
            <ion-col>
                <ion-img src="../../../../assets/SELLER/add-product/upload-video-filter-1.png" style="height:73px; width:73px;"></ion-img>
            </ion-col>
            <ion-col style="margin-left:-15px; margin-top:8px;">
                <ion-img src="../../../../assets/SELLER/add-product/upload-video-filter-2.png" style="height:54px;"></ion-img>
            </ion-col>
            <ion-col style="margin-left:-10px; margin-top:8px;">
                <ion-img src="../../../../assets/SELLER/add-product/upload-video-filter-3.png" style="height:54px;"></ion-img>
            </ion-col>
            <ion-col style="margin-left:-10px; margin-top:8px;">
                <ion-img src="../../../../assets/SELLER/add-product/upload-video-filter-4.png" style="height:54px;"></ion-img>
            </ion-col>
            <ion-col style="margin-left:-10px; margin-top:8px;">
                <ion-img src="../../../../assets/SELLER/add-product/upload-video-filter-5.png" style="height:54px;"></ion-img>
            </ion-col>
          </ion-row>

      </form>
  
      <ion-row>
        <ion-col class="submit-button">
          <ion-button mode="ios" (click)="close()">
            儲存
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>