.header{
    ion-toolbar{
      padding-top: 2rem;
      padding-right: 0.5rem;
      padding-left: 0rem;
      color: #000000;
    }
    .back-icon{
      size: 20px;
      color:#000000;
    }
  
  
  }
  
  ion-content{
    --ion-background-color: #ffff;
    --ion-text-color: #000000;
    --highlight-color-focused: #000000;
    --highlight-color-valid: #000000;
    --highlight-color-invalid: #000000;
    font-family: Yuanti TC;
  }


  .photo{
    justify-content:center;
  }

  .no-pad-top{
    padding-top: 0;
  }
  

  
  .submit-button{
    display: flex;
    justify-content: center;
    ion-button{
      --background: #49AAE8;
      --background-activated: #49AAE8;
      --background-focused: #49AAE8;
      --background-hover: #49AAE8;
      --color: white;
      overflow-y:visible;
      width: 100%;
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      width: 30%;
      height: 150%;
    }
    margin: 1rem 0;
  }
  
  .blue-title{
    color: #49AAE8;
  }
  