<ion-content class="ion-no-padding" style="padding: 50px">
  <div class="delete-modal">
    <ion-row>
      <ion-text style="margin: auto;font-weight: 700;font-size: 16px;">
        你確定要永久刪除商品嗎？
      </ion-text>
    </ion-row>

    <ion-row>
      <ion-text style="font-weight: 400;">
        你將無法復原已刪除商品！
      </ion-text>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center">
        <div class="delete-button" mode="ios" type="submit" (click)="cancelClick()">
          <ion-text style="font-weight: 700; font-size: 16.5px; margin: 3px 0px 1px 0px;">取消</ion-text>
        </div>
      </ion-col>

      <ion-col style="text-align: center">
        <div class="delete-button" mode="ios" type="submit" (click)="okClick()">
          <ion-text style="font-weight: 700; font-size: 16.5px; margin: 3px 0px 1px 0px;">確認</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>


