ion-tab-button:focus{
    --background-activated: #3F93C9;
    --background-focused: #3F93C9;
}

ion-footer{
    background: url('../../../assets/icon/Ellipse.svg');
    background-repeat: no-repeat;
    height: 80px;
    display: flex;
    align-items: flex-end;
    --border-width: 0px;
    border: none !important;

    ion-toolbar{
        --border-width: 0px;
        height: 65px;
        --background: #49AAE8;
        --color: #FFFFFF;
        display: flex;
        align-items: center;
    }
    ion-tab-bar{
        border: none !important;
        --background: #49AAE8;
        --color: #FFFFFF;
        .bottom-bar{
            .bottom-bar-home-icon{
                font-size: 47px;
            }
            .bottom-bar-icon{
                font-size: 24px;
            }
        }

    }
}
