<ion-footer>
  <ion-toolbar>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button class="bottom-bar" (click)="openHomepage()">
            <div>
              <ion-icon mode="ios" class="bottom-bar-home-icon" slot="icon-only" src="../../../assets/icon/homepage-icon.svg"></ion-icon>
            </div>
          </ion-tab-button>

          <ion-tab-button class="bottom-bar" (click)="openForum()">
            <div>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../assets/icon/forum-icon.svg"></ion-icon>
            </div>
          </ion-tab-button>

          <ion-tab-button class="bottom-bar" (click)="openChatroom()">
            <div>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../assets/icon/seller_chatroom-icon.svg"></ion-icon>
            </div>
          </ion-tab-button>

          <ion-tab-button class="bottom-bar" (click)="openAddProduct()">
            <div>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../assets/icon/seller_add_icon.svg"></ion-icon>
            </div>
          </ion-tab-button>

          <ion-tab-button class="bottom-bar" (click)="openSellerProfile()">
            <div>
              <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../assets/icon/profile-icon.svg"></ion-icon>
            </div>
          </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>