.ion-text-1{
    font-family: 'Yuanti TC';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height */
    color: #000000;
}

.ion-text-2{
    font-family: 'Yuanti TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
}

.ion-text-3{
    font-family: 'Yuanti TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}

ion-button{
    --background: #49AAE8;
    --background-activated: none;
    width: 6.5rem;
    height: 2rem;
    border-radius: 10px;
}

.input-form-item{
    --border-width: 0;
    --inner-border-width: 0px;
    --background: #F4FBFF;
    --background-activated: #F4FBFF;
    --background-focused: #F4FBFF;
    --background-hover: #F4FBFF;
    --border-radius: 0.5rem;
    text-align: center;
    color: black;
    border-radius: 0.5em;
    border: 1px solid #49AAE8;
    width: 100%;
}

// Taken from profile payment .scss
.paragraph{
    padding: 1rem;
    border-radius: 0.5rem;
    background: #49AAE812;
    .sub-title{
        font-weight: 700; 
    }
    .card-number-row{
        ion-col{
            display: flex;
            align-items: center;
            padding-bottom: 0;
        }
    }
    .card-icon{
        font-size: 2rem;
    }
    .edit-button-col{
        display: flex;
        justify-content: end;
    }

    .edit-button{
            --background: #49AAE8;
            --background-activated: #49AAE8;
            --background-focused: #49AAE8;
            --background-hover: #49AAE8;
            --color: white;
            overflow-y:visible;
            width: 100%;
            margin: 0;
            font-size: 14px;
            font-weight: bold;
            width: 6.5rem;
            height: 2rem;
            border-radius: 10px;
            ion-icon{
                font-size: 16px;
            }
            ion-text{
                margin-left: 0.5rem;
            }
    }
}
