<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-row style="display: flex; justify-content: flex-end;" class="ion-padding">
          <ion-col class="ion-padding">
            <ion-tab-button class="bottom-bar" (click)="openShopCategory()">
              <div>
                <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../assets/icon/shopping-category-blue-icon.svg"></ion-icon>
              </div>
            </ion-tab-button>
          </ion-col>
          <ion-col class="ion-padding">
            <ion-tab-button class="bottom-bar" (click)="openShopCategory2()">
              <div>
                <ion-icon mode="ios" class="bottom-bar-icon" slot="icon-only" src="../../../assets/icon/shopping-icon-blue.svg"></ion-icon>
              </div>
            </ion-tab-button>
          </ion-col>
        </ion-row>
        
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>