<ion-content>
  <div class="setting-inner-content">
    <div class="toolbar">
      <ion-buttons (click)="goBack()">
        <ion-icon mode="ios-person" class="back-icon" slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-row>
        <ion-col>
          <div class="title">
            <ion-icon mode="ios" class="back-icon2" slot="icon-only" name="call-outline"></ion-icon>
            聯絡我們
          </div>
        </ion-col>
      </ion-row>
    </div>
      <ion-row style="margin-bottom: 1em; padding-left:1rem;">
        <ion-col>
          <ion-text class="header-title">期待您的留言</ion-text>
        </ion-col>
      </ion-row>
  
    <form class="form" [formGroup]="form">
  
      <ion-row style="margin-bottom: 0em" class="ion-padding-horizontal">
        <ion-col>
          <div class="required-form-title">訊息內容</div>
          <ion-item mode="ios" class="input-form-item">
            <ion-textarea mode="ios" class="form-input" [formControl]="message" type="text"
              ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  
    <ion-row>
      <ion-col class="submit-button">
        <ion-button mode="ios" (click)="sendMessage()">
          送出
        </ion-button>
      </ion-col>
    </ion-row>

  </div>  

</ion-content>
