<ion-content class="ion-no-padding">
  <div mode="ios" class="toolbar">
    <ion-row>
      <ion-col size="5" style="padding-left: 1rem">
        <ion-icon style="width: 20px; height: 30px" src="../../../assets/icon/back-icon.svg" (click)="goBack()"></ion-icon>
      </ion-col>
      <ion-col>
        <div class="title">註冊</div>
      </ion-col>
    </ion-row>
  </div>

  <ion-grid class="ion-padding-horizontal">
    <ion-row>
      <ion-col>
        <ion-text class="required-form-title">請輸入個人資料</ion-text>
      </ion-col>
    </ion-row>
    <form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()" #localForm="ngForm" novalidate>
      <ion-row style="margin-bottom: 0em">
        <ion-col>
          <div class="required-form-title">帳戶名稱</div>
          <ion-item mode="ios" class="input-form-item">
            <!-- Account Name -->
            <ion-input mode="ios" class="form-input name-input" formControlName="account_name" type="text" placeholder="請輸入用戶名"></ion-input>
          </ion-item>
          <!-- Check if form is invalid after Submit button clicked -->
          <div *ngIf="localForm.submitted && formData.get('account_name')?.invalid" class="invalid-feedback">*required</div>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 0em">
        <ion-col>
          <div class="required-form-title">密碼</div>
          <ion-item mode="ios" class="input-form-item">
            <!-- Password -->
            <ion-input mode="ios" class="form-input name-input" formControlName="password" type="text"></ion-input>
          </ion-item>
          <div *ngIf="localForm.submitted && formData.get('password')?.invalid" class="invalid-feedback">*required</div>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 0em">
        <ion-col>
          <div class="required-form-title">確認密碼</div>
          <ion-item mode="ios" class="input-form-item">
            <!-- Confirm Password -->
            <ion-input mode="ios" class="form-input name-input" formControlName="confirm_password" type="text"></ion-input>
          </ion-item>
          <!-- TODO: Password and Confirmed Password Validation and Check Confirm Password Validity  -->
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 0em">
        <ion-col>
          <div class="required-form-title">用戶顯示名稱</div>
          <ion-item mode="ios" class="input-form-item">
            <!-- Display Name -->
            <ion-input mode="ios" class="form-input name-input" formControlName="display_name" type="text" placeholder="請輸入顯示名稱"></ion-input>
          </ion-item>
          <div *ngIf="localForm.submitted && formData.get('display_name')?.invalid" class="invalid-feedback">*required</div>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 0em">
        <ion-col>
          <div class="required-form-title">電話</div>
          <ion-item mode="ios" class="input-form-item">
            <!-- Phone Number -->
            <ion-input mode="ios" class="form-input" formControlName="phone_no" type="number" placeholder="請輸入電話號碼"></ion-input>
          </ion-item>
          <div *ngIf="localForm.submitted && formData.get('phone_no')?.invalid" class="invalid-feedback">*required</div>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 0em">
        <ion-col>
          <div class="required-form-title">電子郵件</div>
          <ion-item mode="ios" class="input-form-item">
            <!-- Email -->
            <ion-input mode="ios" class="form-input" formControlName="email" type="text" placeholder="請輸入電子郵箱地址"></ion-input>
          </ion-item>
          <div *ngIf="localForm.submitted && formData.get('email')?.invalid" class="invalid-feedback">*required</div>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 0em">
        <ion-col>
          <div class="required-form-title">出生日期</div>
          <ion-item mode="ios" class="input-form-item date">
            <!-- Date of Birth -->
            <ion-input mode="ios" class="form-input name-input" formControlName="date_of_birth" type="date"></ion-input>
          </ion-item>
          <ion-icon mode="ios" slot="icon-only" name="chevron-back-outline"></ion-icon>
          <div *ngIf="localForm.submitted && formData.get('date_of_birth')?.invalid" class="invalid-feedback">*required</div>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 0em">
        <ion-col>
          <!-- Address -->
          <div class="required-form-title">地址</div>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 0em">
        <ion-col class="adress">
            <ion-col>
              <div class="form-title">室/單位</div>
              <ion-item mode="ios" class="input-form-item">
                <!-- Address Room -->
                <ion-input mode="ios" class="form-input name-input" formControlName="address_room" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <div class="form-title">樓層</div>
              <ion-item mode="ios" class="input-form-item">
                <!-- Address Floor -->
                <ion-input mode="ios" class="form-input name-input" formControlName="address_floor" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <div class="form-title">座數</div>
              <ion-item mode="ios" class="input-form-item">
                <!-- Address Seat No -->
                <ion-input mode="ios" class="form-input name-input" formControlName="address_seat_no" type="text"></ion-input>
              </ion-item>
            </ion-col>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 0em">
        <ion-col>
          <div class="form-title">大廈名稱</div>
          <ion-item mode="ios" class="input-form-item">
            <!-- Address Building Name -->
            <ion-input mode="ios" class="form-input" formControlName="address_building_name" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 0em">
        <ion-col>
          <div class="form-title">街道名稱</div>
          <ion-item mode="ios" class="input-form-item">
            <!-- Address Street Name -->
            <ion-input mode="ios" class="form-input" formControlName="address_street_name" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="margin-bottom: 0em">
        <ion-col>
          <div class="form-title">地區</div>
          <ion-item mode="ios" class="input-form-item">
            <!-- Address Area -->
            <ion-input mode="ios" class="form-input" formControlName="address_area" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="address">
        <ion-col>
          <ion-button mode="ios" class="type-button" [ngClass]="{
          'active': this.region=== 'Hong Kong'}"
          (click)="selectRegion('Hong Kong')">香港</ion-button>
        </ion-col>
        <ion-col>
          <ion-button mode="ios" class="type-button" [ngClass]="
          {'active': this.region === 'Kowloon'}"
          (click)="selectRegion('Kowloon')">九龍</ion-button>
        </ion-col>
        <ion-col>
          <ion-button mode="ios" class="type-button" [ngClass]="
          {'active': this.region === 'New Territories'}"
          (click)="selectRegion('New Territories')">新界</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="submit-button">
          <ion-button mode="ios" type="submit">
            註冊
          </ion-button>
        </ion-col>
      </ion-row>
    </form>

      
    <!--Login Facebook-->
    <ion-row>
      <ion-col>
        <ion-button mode="ios" class="facebook" (click)="loginFacebook()">
          <ion-icon mode="ios" slot="icon-only" name="logo-facebook"></ion-icon>
          使用Facebook帳號註冊
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>





<!-- 
    <ion-row class="address">
    <ion-col>
      <ion-button mode="ios" class="type-button" [ngClass]="{'active': this.region=== 'Hong Kong' }"
        (click)="selectRegion('Hong Kong')">香港</ion-button>
    </ion-col>
    <ion-col>
      <ion-button mode="ios" class="type-button" [ngClass]="{'active': this.region === 'Kowloon' }"
        (click)="selectRegion('Kowloon')">九龍</ion-button>
    </ion-col>
    <ion-col>
      <ion-button mode="ios" class="type-button" [ngClass]="{'active': this.region === 'New Territories' }"
        (click)="selectRegion('New Territories')">新界</ion-button>
    </ion-col>
  </ion-row>
 -->