ion-content{
    --background: #F8F8F8;
    font-family: Yuani TC;
    .toolbar{
        padding-top: 1.5rem;
        background: url('../../../../../../assets/SELLER/home/homepage/hompage-item-bg-1.png');
        height: 100px;
        .title{
            font-weight: 700;
            font-size: 20px;
            text-align: center;
            color: #FFFFFF;
        }
        .forum-icon{
            height: 42px;
            width: 42px;
            float: right;
            padding-right: 0.5rem;
        }
    }
    .main-body{
        margin-top: 1rem;
        font-family: 'Yuanti TC';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        .button-text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #FFFFFF;
            font-size: 15px;
        }
        .category-text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 700;
            color: #FFFFFF;
          }
    }
}

