<ion-content class="ion-no-padding">
  <div class="header">
    <ion-toolbar color="#ffff">
      <ion-title>更改密碼</ion-title>
      <ion-buttons slot="end">
        <ion-icon mode="ios" class="back-icon" slot="icon-only" name="close-outline" (click)="close()"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <ion-grid class="ion-padding-horizontal">
    <form class="form" [formGroup]="form">
      <ion-row style="margin-bottom: 0em">
        <ion-col>
          <div class="required-form-title">現有密碼</div>
          <ion-item mode="ios" class="input-form-item">
            <ion-input mode="ios" class="form-input name-input" [formControl]="currentPassword" type="password"
              ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 0em">
        <ion-col>
          <div class="required-form-title">新密碼</div>
          <ion-item mode="ios" class="input-form-item">
            <ion-input mode="ios" class="form-input name-input" [formControl]="newPassword" type="password"
              ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 0em">
        <ion-col>
          <div class="required-form-title">確認新密碼</div>
          <ion-item mode="ios" class="input-form-item">
            <ion-input mode="ios" class="form-input" [formControl]="newPassword2" type="password"
              ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>

    <ion-row>
      <ion-col class="submit-button">
        <ion-button mode="ios" (click)="updatePassword()">
          修改
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

