<ion-content>
  <div class="setting-inner-content">
    <div class="toolbar">
      <ion-buttons (click)="goBack()">
        <ion-icon mode="ios-person" class="back-icon" slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-row>
        <ion-col>
          <div class="title">
            <ion-icon mode="ios" class="back-icon2" slot="icon-only" src="../../../assets/icon/aboutus-icon.svg"></ion-icon>
            關於我們
          </div>
        </ion-col>
      </ion-row>
    </div>
    <ion-grid class="ion-padding-horizontal">
      <ion-row>
        <ion-col class="app-logo">
          <img src="../../../assets/icon/fishnet-icon-big.svg" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>
            {{"<魚網>平台是香港的生物與水族產品買賣資訊展示平台，由魚網有限公司管理並提供服務。<魚網>平台為用戶提供全新的觀賞類生物與水族產品價格資訊。"}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>
            {{"我們網購平台上商戶的產品，都是經由合作認證商戶在世界各地搜羅的，包括熱帶魚，海水魚， 珊瑚， 蝦，蟹，龜， 兩棲類等等，而且貨源穩定，務求達至消費者能第一時間訂購特別及少有的生物。除了購物外，我們更希望朋友們能夠在這裡分享日常生活點滴、購物經驗，商戶是否可靠及老實。"}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>
            {{"我們希望將傳統街舖的消費模式， 提升至網上營運， 為傳統金魚街商戶網上化及數碼化。"}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>
            {{"藉著網購科技，將本是難以網上化的生物買賣，加入科技原素， 從而令到最傳統的香港行業得以再發揚光大。"}}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
